*.rds filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
data/processed filter=lfs diff=lfs merge=lfs -text
data/raw filter=lfs diff=lfs merge=lfs -text
data/vignette_data filter=lfs diff=lfs merge=lfs -text
data/processed/real_results_waldstats_Leroux_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/processed/single_sample_all_cells_perfsummary_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/processed/synth_from_real_hyptest_theoretical_chisq.rds filter=lfs diff=lfs merge=lfs -text
data/raw/2021-07-12390D-Supplementary[[:space:]]Table[[:space:]]5.xlsx filter=lfs diff=lfs merge=lfs -text
data/processed/glm_gam_synth_results_waldstats_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/processed/glm_offset_power_perfsummary_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/processed/power_wald_df.rds filter=lfs diff=lfs merge=lfs -text
data/processed/real_results_waldstats_spNNGP_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/vignette_data/TESSERA_model_results.rds filter=lfs diff=lfs merge=lfs -text
data/processed/kidney_data_processed_TESSERA.rds filter=lfs diff=lfs merge=lfs -text
data/processed/real_results_perfsummary_Leroux_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/processed/single_sample_subset_cells_perfsummary_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/processed/synth_from_real_hyptest_tessera.rds filter=lfs diff=lfs merge=lfs -text
data/processed/synth_results_waldstats_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/raw/supp_table1.xlsx filter=lfs diff=lfs merge=lfs -text
data/processed/glm_gam_model_results_perfsummary_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/processed/glm_gam_model_results_waldstats_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/processed/glm_offset_power_waldstats_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/processed/model_results_waldstats_Leroux_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/processed/nonspatial_results_waldstats_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/processed/real_hyptest_theoretical_chisq.rds filter=lfs diff=lfs merge=lfs -text
data/processed/synth_results_perfsummary_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/raw/GSE211785_ST_metadata.txt filter=lfs diff=lfs merge=lfs -text
data/processed/glm_gam_synth_results_perfsummary_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/processed/limma_voom_real_markergene_natgen_kidney.rds filter=lfs diff=lfs merge=lfs -text
data/processed/power_perf_df.rds filter=lfs diff=lfs merge=lfs -text
data/processed/real_results_waldstats_Leroux_between_celltypes_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/raw/supp_table1.csv filter=lfs diff=lfs merge=lfs -text
data/vignette_data/kidney_data_spe.rds filter=lfs diff=lfs merge=lfs -text
data/vignette_data/TESSERA_wald_threshold_out.rds filter=lfs diff=lfs merge=lfs -text
data/processed/DESeq2_real_natgen_kidney.rds filter=lfs diff=lfs merge=lfs -text
data/processed/nonspatial_results_perfsummary_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/processed/prepData_lattice_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/processed/real_hyptest_fdrtool_fndr.rds filter=lfs diff=lfs merge=lfs -text
data/processed/real_hyptest_tessera_between_celltypes.rds filter=lfs diff=lfs merge=lfs -text
data/processed/real_results_perfsummary_spNNGP_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/processed/seu_kidney.rds filter=lfs diff=lfs merge=lfs -text
data/vignette_data/TESSERA_ACTA2_example.rds filter=lfs diff=lfs merge=lfs -text
data/processed/limma_voom_real_natgen_kidney.rds filter=lfs diff=lfs merge=lfs -text
data/processed/nonspatial_gam_glm_perfsummary_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/processed/power_contrasts_pb_results.rds filter=lfs diff=lfs merge=lfs -text
data/processed/real_hyptest_tessera.rds filter=lfs diff=lfs merge=lfs -text
data/processed/synth_from_real_hyptest_fdrtool_fndr.rds filter=lfs diff=lfs merge=lfs -text
data/raw/GSE211785_EXPORT_ST_umap.txt filter=lfs diff=lfs merge=lfs -text
data/raw/visium_cell_locations filter=lfs diff=lfs merge=lfs -text
data/vignette_data/TESSERA_prepData_out.rds filter=lfs diff=lfs merge=lfs -text
data/processed/model_results_perfsummary_Leroux_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/processed/DESeq2_real_markergene_natgen_kidney.rds filter=lfs diff=lfs merge=lfs -text
data/processed/marker_genes.csv filter=lfs diff=lfs merge=lfs -text
data/processed/prepData_spNNGP_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/processed/timing_results.rds filter=lfs diff=lfs merge=lfs -text
data/raw/GSE211785_EXPORT_ST_counts.rds filter=lfs diff=lfs merge=lfs -text
data/raw/Kidney_Atlas_Tables filter=lfs diff=lfs merge=lfs -text
data/processed/glm_gam_model_results_waldstats_markergene_onlyinteract.rds filter=lfs diff=lfs merge=lfs -text
data/processed/poisECM_real_natgen_kidney_model_Leroux_gene_ACTA2.rds filter=lfs diff=lfs merge=lfs -text
